2.2.1 读取数据集 - 使用pandas处理原始数据，并将原始数据转换成张量格式

In [1]:
import os

os.makedirs(os.path.join('data'),exist_ok = True)
data_file = os.path.join('data','house_tiny.csv')

with open(data_file,'w') as f:
    f.write('NumRooms,Alley,Price\n')  # 列名
    f.write('NA,Pave,127500\n')  # 每行表示一个数据样本
    f.write('2,NA,106000\n')
    f.write('4,NA,178100\n')
    f.write('NA,NA,140000\n')

In [2]:
import pandas as pd

data = pd.read_csv(data_file)
print(data)

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

处理缺失值“NaN” - 插值法或者删除法。用同一列的均值替换NAN缺失项。

In [3]:
inputs,outputs = data.iloc[:,0:2],data.iloc[:,2]
inputs = inputs.fillna(inputs.mean())

print(inputs)

   NumRooms Alley
0       3.0  Pave
1       2.0   NaN
2       4.0   NaN
3       3.0   NaN

离散类别 - onehot编码。将类别 pave 和 NaN 修改为类别 Alley_pave and Alley_nan

In [4]:
inputs = pd.get_dummies(inputs,dummy_na = True)

print(inputs)

   NumRooms  Alley_Pave  Alley_nan
0       3.0           1          0
1       2.0           0          1
2       4.0           0          1
3       3.0           0          1

2.2.3 转换为张量格式 将inputs和outputs的python数值 转成tensor

In [5]:
import torch

X,y = torch.tensor(inputs.values),torch.tensor(outputs.values)
X,y

(tensor([[3., 1., 0.],
         [2., 0., 1.],
         [4., 0., 1.],
         [3., 0., 1.]], dtype=torch.float64),
 tensor([127500, 106000, 178100, 140000]))

In [6]:
data

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

In [14]:
max_nan = data.isnull().sum().max()
print(max_nan)

new_data = data.drop(['Alley'],axis = 1)
new_data

3

   NumRooms   Price
0       NaN  127500
1       2.0  106000
2       4.0  178100
3       NaN  140000

In [12]:
data.columns[2]

'Price'

In [17]:
data.isnull().sum().argmax()

1